<section class="content">
  <header>
    <h2 mat-dialog-title>Información de envío</h2>
  </header>
  <main>
    <form [formGroup]="sendForm" class="grid-container">
      <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-sm-12">
        <mat-label>Para</mat-label>
        <input matInput type="text" formControlName="To"/>
        <mat-error *ngIf="sendForm.controls['To'].errors?.['required']">
          El campo es requerido
        </mat-error>
        <mat-error *ngIf="sendForm.controls['To'].errors?.['pattern']">
          Ingrese un correo válido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-sm-12">
        <mat-label>Asunto</mat-label>
        <input matInput type="text" formControlName="Subject"/>
        <mat-error *ngIf="sendForm.controls['Subject'].errors?.['required']">
          El campo es requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-sm-12">
        <mat-label>Cuerpo</mat-label>
        <textarea matInput rows="3" cols="5" formControlName="Body"></textarea>
        <mat-error *ngIf="sendForm.controls['Body'].errors?.['required']">
          El campo es requerido
        </mat-error>
      </mat-form-field>
    </form>
  </main>
  <footer>
    <app-action-buttons [actionButtons]="actionButtons"
                        (onActionButtonClicked)="OnActionButtonClicked($event)"
                        [isIntoMatTab]="false">
    </app-action-buttons>
  </footer>
</section>
