<section class="multi-bottoms">
  <app-action-buttons [actionButtons]="actionButtons" [isIntoMatTab]="false"
                      (onActionButtonClicked)="OnActionButtonClicked($event)">
  </app-action-buttons>
</section>
<section class="section mobile-margin">
  <fieldset>
    <legend>Encabezado</legend>
    <form [formGroup]="documentForm">
      <div class="flex">
        <div class="grid-container">
          <div class="col-lg-12 col-md-12 col-sm-12 section-title">Origen</div>
          <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: .3em">
            <div class="flex">
              <mat-form-field class="w-100 input-group" appearance="outline" style="margin-bottom: -1em">
                <mat-label>Almacén</mat-label>
                <input readonly placeholder="Buscar almacén de origen" type="text" formControlName="FromWarehouse" matInput>
              </mat-form-field>
              <button matTooltip="Buscar almacén de origen"
                      type="button"
                      mat-flat-button color="primary"
                      class="e-bill"
                      style="margin-bottom: .3em"
                      (click)="ShowModalSearchWarehouses(true, 1)"
              >
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 1em">
            <div class="flex">
              <mat-form-field class="w-100 input-group" appearance="outline" style="margin-bottom: -1em">
                <mat-label>Ubicación</mat-label>
                <input readonly placeholder="Buscar ubicación de origen" type="text" formControlName="FromBinLocation" matInput>
              </mat-form-field>
              <button matTooltip="Buscar ubicación de destino"
                      type="button"
                      mat-flat-button color="primary"
                      class="e-bill"
                      style="margin-bottom: .3em"
                      [disabled]="isButtonModalFromBinLocationDisabled"
                      (click)="ShowModalSearchLocations('FromBinLocation')">
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="grid-container">
          <div class="col-lg-12 col-md-12 col-sm-12 section-title">Destino</div>
          <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: .3em">
            <div class="flex">
              <mat-form-field class="w-100 input-group" appearance="outline" style="margin-bottom: -1em">
                <mat-label>Almacén</mat-label>
                <input readonly placeholder="Buscar almacén de destino" type="text" formControlName="ToWarehouse" matInput>
              </mat-form-field>
              <button matTooltip="Buscar almacén de destino"
                      type="button"
                      mat-flat-button color="primary"
                      class="e-bill"
                      style="margin-bottom: .3em"
                      (click)="ShowModalSearchWarehouses(false, 2)"
              >
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 1em">
            <div class="flex">
              <mat-form-field class="w-100 input-group" appearance="outline" style="margin-bottom: -1em">
                <mat-label>Ubicación</mat-label>
                <input readonly placeholder="Buscar ubicación de destino" type="text" formControlName="ToBinLocation" matInput>
              </mat-form-field>
              <button matTooltip="Buscar ubicación de destino"
                      type="button"
                      mat-flat-button color="primary"
                      class="e-bill"
                      style="margin-bottom: .3em"
                      [disabled]="isButtonModalToBinLocationDisabled"
                      (click)="ShowModalSearchLocations('ToBinLocation')">
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-container">
        <mat-form-field appearance="outline" class="col-lg-6 col-sm-12">
          <mat-label>Fecha de contabilización</mat-label>
          <input matInput [matDatepicker]="pickerDocDate" formControlName="DocDate">
          <mat-datepicker-toggle matSuffix [for]="pickerDocDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerDocDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-lg-6 col-sm-12">
          <mat-label>Fecha del documento</mat-label>
          <input matInput [matDatepicker]="pickerTaxDate" formControlName="TaxDate">
          <mat-datepicker-toggle matSuffix [for]="pickerTaxDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerTaxDate></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: -1em">
          <mat-label>Encargado de compras</mat-label>
          <mat-select formControlName="SalesPersonCode">
            <mat-option *ngFor="let option of salesPersons" [value]="option.SlpCode">
              {{option.SlpName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: -1em">
          <mat-label>Comentario</mat-label>
          <input type="text" matInput formControlName="Comments">
        </mat-form-field>
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: -1em">
          <div class="flex">
            <mat-form-field class="w-100 input-group" appearance="outline" style="margin-bottom: -1em">
              <mat-label>Artículo</mat-label>
              <input type="text"
                     matInput
                     formControlName="Item"
                     [matAutocomplete]="auto"
                     (focus)="onItemControlFocused$.next('')"
                     (keyup)="FindItem($event)">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="DisplayFnItem" (optionSelected)="OnSelectItem($event.option.value)">
                <mat-option *ngFor="let itm of items$ | async" [value]="itm">
                  {{itm.Typehead}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <button matTooltip="Buscar ítems"
                    type="button"
                    mat-flat-button color="primary"
                    class="e-bill"
                    (click)="ShowModalSearchItem()"
                    [disabled]="isButtonModalDisabled"
                    style="margin-bottom: .3em"
            >
              <mat-icon class="icon-display">search</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </form>
  </fieldset>
</section>

<fieldset class="top-margin udf-fieldset" *ngIf="isVisible || this.IsVisibleAttachTable">
  <mat-tab-group>
    <mat-tab *ngIf="isVisible" label="Udfs">
      <cl-dynamics-udfs-presentation
        [Id]="UdfsId"
        [ApiUrl]="ApiUrl"
        [UdfsCategory]="DBODataEndPoint"
      >
      </cl-dynamics-udfs-presentation>
    </mat-tab>

    <mat-tab label="Adjuntos" *ngIf="this.IsVisibleAttachTable">

      <div style="display: flex; justify-content: flex-end; align-content: center; padding: 5px;">
        <button mat-flat-button color="primary" (click)="attach_file.click()">
          <mat-icon>
            attach_file
          </mat-icon>
          Adjuntar
        </button>
      </div>

      <input multiple style="display: none;" #attach_file type="file" accept=".pdf,.doc,.docx,.jpg,.jpeg,.png,.txt,.xls,.ppt,.xlsx,.pptx" (change)="OnAttachFile($event)">
      <cl-table [Id]="attachmentTableId"
                [ShouldPaginateRequest]="false"
                [HasStandardHeaders]="true"
                [ShouldSplitPascal]="false"
                [MappedColumns]="attachmentLineMappedColumns"
                [Records]="documentAttachment.Attachments2_Lines"
                [RecordsCount]="documentAttachment.Attachments2_Lines.length"
                [Buttons]="attachmentTableButtons"
                [ItemsPeerPage]="5"
                [PageSizeOptions]="[5, 10, 20]"
                [BackgroundTransparent]="true"
                ScrollHeight="400px">
      </cl-table>
    </mat-tab>
  </mat-tab-group>
</fieldset>

<section class="section">
  <fieldset>
    <legend>Documento</legend>
    <cl-table [Id]="lineTableId"
              [ShouldPaginateRequest]="shouldPaginateRequest"
              [HasStandardHeaders]="true"
              [ShouldSplitPascal]="false"
              [MappedColumns]="lineMappedColumns"
              [Records]="lines"
              [RecordsCount]="lines.length"
              [HasItemsSelection]="false"
              [Buttons]="tableButtons"
              [DropdownColumns]="dropdownColumns"
              [DropdownDiffBy]="dropdownDiffBy"
              [DropdownDiffList]="dropdownDiffList"
              [DisableDragAndDrop]="disableDragAndDrop"
              [BackgroundTransparent] = "true">
    </cl-table>
  </fieldset>
</section>
