<section class="content">
  <header>
    <h2 mat-dialog-title>Selección de series</h2>
  </header>
  <main>
    <section class="info-batch-insert">
      <div fxLayout="row">
        <span fxFlex>Cantidad solicitada: <strong>{{QtySolicitada}}</strong></span>
        <span fxFlex>Cantidad aplicada :  <strong>{{QtyAplicada}}</strong></span>
      </div>
    </section>
    <section>
      <cl-table [Id]="lineTableId"
                [HasStandardHeaders]="hasStandardHeaders"
                [ShouldSplitPascal]="shouldSplitPascal"
                [MappedColumns]="lineMappedColumns"
                [Records]="lines"
                [RecordsCount]="lines.length"
                [CheckboxColumns]="checkboxColumns"
                [HasItemsSelection]="hasItemsSelection"
                [ShouldPaginateRequest]="shouldPaginateRequest"
                [BackgroundTransparent] = "true"
                ScrollHeight="400px">
      </cl-table>
    </section>
  </main>
  <footer>
    <app-action-buttons [actionButtons]="actionButtons"
                        (onActionButtonClicked)="OnActionButtonClicked($event)">
    </app-action-buttons>
  </footer>
</section>


