.wh-selected
{
    color: #3880ff;
}

.bin-selected 
{
    color: #3880ff;
}

.inventory-detail-header-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 10px 15px;
    border-bottom: 1px solid rgb(145, 85, 85, .12);
}