.m-b {
  margin-bottom: 50px;
}

.flext-container-activities{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
}

.flex {
  display: flex;
  align-items: center;

  .mat-form-field {
    flex-grow: 1;
  }
}

/*Boton a la par de un campo*/
.e-bill {
  margin-top: -19px !important;
  border-radius: 0 5px 5px 0;
  background-color: #0082c0 !important;
  color: white !important;
  cursor: pointer;
  height: 34px;
}

@media screen and (max-width: 600px) {
  .multi-bottoms {
    flex-direction: column;
    padding-top: 10px;
    position: fixed;
    background-color: #fafafa !important;
    z-index: 9996;
    width: 100%;
  }
}

