<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--DEV-->
    <!-- DEMOCR -->
    <!--<add key="LogPath" value="C:\inetpub\wwwroot\CL\Clavisco\DemoCR\EMA\Dev\Logs\" />
    <add key="ServiceInterval" value="2" />
    <add key="ConnectionMode" value="ODBC" />-->
    <!-- TEXTOS CR  -->
    <!-- <add key="LogPath" value="C:\inetpub\wwwroot\CL\TextosCr\TextosCr\EMA\Dev\Logs\" /> -->
    <!-- <add key="ServiceInterval" value="2" /> -->
    <!-- <add key="ConnectionMode" value="ODBC" /> -->

    <!--TEST-->
    <!-- DEMOCR -->
    <!-- <add key="LogPath" value="C:\inetpub\wwwroot\CL\Clavisco\DemoCR\EMA\Test\Logs\" /> -->
    <!-- <add key="ServiceInterval" value="5" /> -->
    <!-- <add key="LotQuantity" value="20" /> -->
    <!-- <add key="ConnectionMode" value="ODBC" /> -->
    <!-- TEXTOS CR  -->
     <add key="LogPath" value="C:\inetpub\wwwroot\CL\TextosCr\TextosCr\EMA\Test\Logs\" /> 
     <add key="ServiceInterval" value="5" /> 
     <add key="LotQuantity" value="20" /> 
     <add key="ConnectionMode" value="ODBC" /> 
    <!-- GAP  -->
    <!-- <add key="LogPath" value="C:\inetpub\wwwroot\CL\GrupoGAP\GAP\EMA\Test\Logs\" /> -->
    <!-- <add key="ServiceInterval" value="5" /> -->
    <!-- <add key="LotQuantity" value="20" /> -->
    <!-- <add key="ConnectionMode" value="ODBC" /> -->

    <!--PROD-->
    <!-- DEMOCR -->
    <!-- <add key="LogPath" value="C:\inetpub\wwwroot\CL\Clavisco\DemoCR\EMA\Prod\Logs\" /> -->
    <!-- <add key="ServiceInterval" value="5" /> -->
    <!-- <add key="LotQuantity" value="20" /> -->
    <!-- <add key="ConnectionMode" value="ODBC" /> -->
    <!-- TEXTOS CR  -->
    <!-- <add key="LogPath" value="C:\inetpub\wwwroot\CL\TextosCr\TextosCr\EMA\Prod\Logs\" /> -->
    <!-- <add key="ServiceInterval" value="5" /> -->
    <!-- <add key="LotQuantity" value="20" /> -->
    <!-- <add key="ConnectionMode" value="ODBC" /> -->
    <!-- GAP  -->
    <!-- <add key="LogPath" value="C:\inetpub\wwwroot\CL\GrupoGAP\GAP\EMA\Prod\Logs\" /> -->
    <!-- <add key="ServiceInterval" value="5" /> -->
    <!-- <add key="LotQuantity" value="20" /> -->
    <!-- <add key="ConnectionMode" value="ODBC" /> -->

    <add key="spGetDBResource" value="CLVS_D_MLT_SLT_DBRESOURCE" />
    
    <add key="IsMulticompany" value="true" />
    <add key="AddressName" value="Default" />
  </appSettings>
  <connectionStrings>
    
    <!--PROD-->
    <!-- DEMOCR -->
    <!--<add name="MainDBContext" connectionString="data source=CLSQL44;initial catalog=CL_CL_DCR_EMA;integrated security=True;MultipleActiveResultSets=True;App=CL_MLT_EMA" providerName="System.Data.SqlClient" />-->
    <!-- TEXTOS CR  -->
    <!-- <add name="MainDBContext" connectionString="data source=CLSQL04;initial catalog=CL_TC_TCR_EMA;integrated security=True;MultipleActiveResultSets=True;App=TC_TCR_EMA" providerName="System.Data.SqlClient" /> -->
    <!-- GAP  -->
    <!-- <add name="MainDBContext" connectionString="data source=CLSQL43;initial catalog=CL_GG_GAP_EMA;integrated security=True;MultipleActiveResultSets=True;App=CL_GG_GAP_EMA" providerName="System.Data.SqlClient" /> -->

    <!--TEST-->
    <!-- DEMOCR -->
    <!-- <add name="MainDBContext" connectionString="data source=CLSQL44;initial catalog=CL_CL_DCR_EMA_TST;integrated security=True;MultipleActiveResultSets=True;App=CL_MLT_EMA_TST" providerName="System.Data.SqlClient" />  -->
    <!-- TEXTOS CR  -->
     <add name="MainDBContext" connectionString="data source=CLAPP711;initial catalog=CL_TC_TCR_EMA_TST;integrated security=True;MultipleActiveResultSets=True;App=TC_TCR_EMA_TST" providerName="System.Data.SqlClient" /> 
    <!-- GAP  -->
    <!-- <add name="MainDBContext" connectionString="data source=CLSQL43;initial catalog=CL_GG_GAP_EMA_TST;integrated security=True;MultipleActiveResultSets=True;App=CL_GG_GAP_EMA_TST" providerName="System.Data.SqlClient" /> -->

    <!-- DEV -->
    <!-- DEMOCR -->
    <!--<add name="MainDBContext" connectionString="data source=CLSQL44;initial catalog=CL_CL_DCR_EMA_DEV;integrated security=True;MultipleActiveResultSets=True;App=CL_MLT_EMA_DEV" providerName="System.Data.SqlClient" />-->
    <!-- TEXTOS CR  -->
    <!--<add name="MainDBContext" connectionString="data source=CLAPP711;initial catalog=CL_TC_TCR_EMA_DEV;integrated security=True;MultipleActiveResultSets=True;App=TC_TCR_EMA_DEV" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CL.STRUCTURES" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CL.COMMON" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.2" newVersion="1.1.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CL.DB" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.24.0.0" newVersion="6.24.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.0.0" newVersion="1.36.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Storage.Common" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.18.1.0" newVersion="12.18.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>