.toolbar {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  max-height: 70px;
  //box-shadow: 0px 5px 3px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #FBFBFB;
  border-bottom: 2px solid #E0E0E0;

  .current-page {
    display: flex;
    align-items: center;
  }
}



.content-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px
}

.submenu {
  font-size: 10pt;
  color: #656564;
  text-align: center;
  padding: 5px 15px;
}

.submenu-divider {
  border-left: 1px solid #E0E0E0;
}

.clickable:hover {
  background-color: #F0F4F9;
  cursor: pointer;
  border-radius: 5px;
}

.notification-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; // Alinea el componente a la derecha
}

.submenu-row {
  display: flex;
  flex-direction: row;
  font-size: 10pt;
  color: #656564;
  padding: 7px;
}


.exchange-focus {
  color: white;
  background-color: #0074B6;
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.router-outlet-container {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: auto;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .router-outlet-container {
    padding: 5px;
    margin-top: 55px;
  }
  .toolbar {
    position: fixed;
    z-index: 9999;
  }
}


.company-name {
  font-size: medium;
  flex-grow: 0.7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 20px;
}

.dropdown-toggle {
  display: none;
}

.session{
  border: 2px solid;
}

.space {
  margin-right: 5px;
}

hr {
  margin: 0;
  height: 1px;
  background-color: #E0E0E0;
  border: none;
}

.tipoCambio:hover,
.currentAlmacen:hover {
  text-decoration: underline;
  color: #0082c0;
  font-weight: bold;
  cursor: pointer;
}

@media(max-width: 1500px) {
  .dropdown-toggle {
    display: block;
  }

  .company-name {
    display: none;
  }
}

.page-title {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .page-title {
    font-size: 13px;
    font-weight: 500;
  }
}

