.margin-left {
  margin-left: 20px;
}

.mb-1 {
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  margin-top: 10px;
}

.top-bottom {
  margin: 10px 0 0 10px;
}
