.filters-container {
    margin: 20px 0;
}
.form
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.form-section
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mt-2 {
    margin-top: 20px;
}

.mb-2 {
    margin-bottom: 20px;
}


.col-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 32%;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
}

.w-100
{
    width: 100%;
}

.top-margin {
  margin-top: 20px;
}

