
<section>
    <h2 mat-dialog-title>{{modalTitle}}</h2>
    <section mat-dialog-content>
        <form class="form" [formGroup]="serieForm">
            <section class="form-section">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="" formControlName="Name">
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Serie</mat-label>
                    <input matInput placeholder="" formControlName="Serie">
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Tipo</mat-label>
                    <input matInput placeholder="" formControlName="Type">
                </mat-form-field>
            </section>

        <section class="form-section">
            <mat-checkbox class="example-margin" formControlName="IsActive">Activo</mat-checkbox>
        </section>
        </form>
    </section>
    <section mat-dialog-actions align="end">
        <button mat-flat-button color="primary" [disabled]="serieForm.invalid" (click)="Save()">
          <mat-icon>save</mat-icon> Crear
        </button>
        <button mat-flat-button [mat-dialog-close]="false">
          <mat-icon class="material-symbols-outlined">cancel</mat-icon> Cancelar
        </button>
    </section>
</section>
