.div-tab-icon {
  margin-right: 8px;
}

.mat-card {
  margin-top: 10px;
  border: solid 1px #ccc !important;

}

.form-field-checkbox {
  display: inline !important;
  padding-left: 10px;

}

.mat-card mat-form-field {
  margin-left: 8px !important;
}

.mc-header {
  display: flex;
  align-items: center;
}

.mc-header h3 {
  font-weight: 500;
}

.mc-h-fc-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.mat-icon-button mat-icon {
  font-size: 20px;
}

.container {
  margin: 2rem 1rem 1rem 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem 1.5rem;

}

.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;

}

.row-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}


.row-3 {
  display: flex;
  //flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.row-group {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 80%;
}

.column-2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 20%;
  margin-top: -10px;
}


.column-3 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 50%;
}

.side-toggle {
  margin-bottom: 1rem;
}


.action-resource {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.button-list {
  margin-bottom: 1.2rem;
}

.drop_box {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
  position: relative;
}

.drop_box p {
  font-size: 12px;
  color: #a3a3a3;
}


.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

@media only screen and (max-width: 1330px) {
  .row-1 {
    flex-direction: column;
    gap: 1rem;
  }
}

@media only screen and (max-width: 1080px) {
  .row {
    flex-direction: column;
    gap: 1rem;
  }
}

.mat-flat-button {
  background-color: black;
}

.mat-flat-button:hover {
  background-color: rgb(49, 49, 49);
}

// .icon-display {
//   transform: scale(0.7);
// }

.mat-table {
  width: 100%;
}

.formats {
  margin-top: 10px;
}

.main-container {
  position: relative;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.btn-container button {
  margin-right: 5px;
}

.mat-chip {
  font-size: 12px;
  padding-bottom: 5px;
}

.margin-top {
  margin-top: 7px;
}

#fileID {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.mt-20 {
  margin-top: 20px;
}

.flex {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  .form-group {
    width: 300px;
    height: 60.46px;

    .mat-form-field {
      width: 100%;
    }

  }

  .form-button {
    width: 100px;
    height: 60.46px;

    action-buttons-main-container {
      .actions-container {
        display: flex;
        justify-content: flex-start !important;

        .btn-container {
          padding-left: 0 !important;
        }
      }
    }
  }
}

.ctrl-button {
  border-radius: 0 5px 5px 0;
  height: 34px;
  background-color: #0082c0 !important;
  color: white !important;
}

.upload-button {
  border-radius: 0 0px 0px 0 !important;
  border-right: solid white 1px !important;
}

.mat-expansion-panel {
  background-color: transparent;
  border: 1px solid #e0e0e0;
  // border-radius: 10px;

}

mt-1 {
  margin-top: 15px;
}

mb-15 {
  margin-bottom: 15px;
}
.column-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 50%;
}


@media only screen and (min-width: 1080px) and (max-width: 2200px) {
  .column-table {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 50%;
    width: 50%;
  }
}

/*Grid system for aditional options*/

.grid-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.grid-column {
  flex: 49%;
  max-width: 49%;
  padding: 0 4px;
}

.column-content {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
  .grid-column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .grid-column{
    flex: 100%;
    max-width: 100%;
  }
}


.top-margin {
  margin-top: 20px;
}

