.m-1{
  margin-bottom: 1rem;
}

.udf-fieldset {
  padding: 0 10px !important;
}
@media screen and (max-width: 600px) {
  .multi-bottoms {
    flex-direction: column;
    padding-top: 10px;
    position: fixed;
    background-color: #fafafa !important;
    z-index: 9996;
    width: 100%;
  }
}

