.totals-grid {
  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .label-value-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .label-text {
    font-size: 0.9rem;
    font-weight: 500; 
    margin-bottom: 0.3rem; 
    color: var(--ion-color-medium); 
  }

  .value-text {
    font-size: 1.1rem; 
    font-weight: bold;
  }
}

.fixed-segment {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}