<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="LogPath" value="C:\inetpub\wwwroot\CL\Inducolcarnes\Multicompania\EMA\Test\Logs\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="FilesPath" value="C:\inetpub\wwwroot\CL\Inducolcarnes\Multicompania\EMA\Test\Files\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="AzureWorkspace" value="Inducolcarnes/Inducolcarnes/EMA/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="AzureContainerName" value="appfiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="AccountName" value="clvsappstst" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="AccountKey" value="B9jFNyDQQkbAyDXtOR8w6lcdt3Rkiik55oo08jil6H2b9y19vpvhB0dsxPN0Y1WLxLgLtL8tpDmz+AStVAliIA==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="RecoveryUrl" value="https://idematest.clavisco.com/#/login" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="DBType" value="HANA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ConnectionMode" value="ODBC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<connectionStrings>
		<add name="MainDBContext" 
			 connectionString="data source=CLAPP811;initial catalog=CL_ID_MLT_EMA_TST;integrated security=True;MultipleActiveResultSets=True;App=ID_EMA_TST" 
			 providerName="System.Data.SqlClient"  
			 xdt:Transform="SetAttributes" 
			 xdt:Locator="Match(name)" /> 
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>