<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="LogPath" value="C:\inetpub\wwwroot\CL\Nacascolo\Multicompania\EMA\Prod\Logs\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="FilesPath" value="C:\inetpub\wwwroot\CL\Nacascolo\Multicompania\EMA\Prod\Files\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="AzureWorkspace" value="Nacascolo/ThuleCR/EMA/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="AzureContainerName" value="appfiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="AccountName" value="clvsapps" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="AccountKey" value="s0r36CFM0bl5NHmCsNIER+oFH3FGJw4n+FkzFmvNHj2qKK+nlXdYWIMg2OVNf1TJBXwQHZJDfn0a/1vWlji8AQ==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="RecoveryUrl" value="https://thema.clavisco.com/#/login" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="DBType" value="SQL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="ConnectionMode" value="ODBC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
	</appSettings>
	<connectionStrings>
		<add name="MainDBContext" 
			 connectionString="data source=CLSQL42;initial catalog=CL_NA_MLT_EMA;integrated security=True;MultipleActiveResultSets=True;App=TH_EMA" 
			 providerName="System.Data.SqlClient"  
			 xdt:Transform="SetAttributes" 
			 xdt:Locator="Match(name)" />
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>