<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="LogPath" value="C:\inetpub\wwwroot\CL\Nacascolo\Aromas\EMA\Dev\Logs\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="FilesPath" value="C:\inetpub\wwwroot\CL\Nacascolo\Aromas\EMA\Dev\Files\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="AccountName" value="clvsappsdev" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="AccountKey" value="iJl5jRHi6Jliy+feFlP6DFvqFraosxKXbhEKaPyQACQh9V+Wqye0r5gdhFGb/KPqkouPEQ3nx6H/+AStiq6HVg==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="AzureWorkspace" value="Nacascolo/Aromas/EMA/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="AzureContainerName" value="appfiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="RecoveryUrl" value="https://emaaromasdev.clavisco.com/#/login" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="DBType" value="SQL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
		<add key="ConnectionMode" value="ODBC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> 
	</appSettings>
	<connectionStrings>
		<add name="MainDBContext" 
			 connectionString="data source=CLSQL42;initial catalog=CL_NA_AMS_EMA_DEV;integrated security=True;MultipleActiveResultSets=True;App=AMS_EMA_DEV" 
			 providerName="System.Data.SqlClient"  
			 xdt:Transform="SetAttributes" 
			 xdt:Locator="Match(name)" /> 
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>