.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-formfield {
  flex-grow: 1;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

legend {
  margin-top: -10px;
  font-weight: bold;
}

.mt-1 {
  margin-top: 20px;
}

.overflow {
  max-height: 60vh;
  overflow: auto;
}
