.w-100{
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;

  .mat-form-field {
    flex-grow: 1;
  }
}

/*Boton a la par de un campo*/

.e-bill {
  margin-top: -5px !important;
  border-radius: 0 5px 5px 0;
  background-color: #0082c0 !important;
  color: white !important;
  cursor: pointer;
  height: 34px;
}
/* Estilos para resaltar el input activo */
mat-form-field[focused] {
  border-color: blue; /* Color de borde cuando está enfocado */
  box-shadow: 0 0 5px blue; /* Sombra cuando está enfocado */
}
