<section class="content">
  <header>
    <h2> {{title}}</h2>
  </header>
  <main>
    <form class="grid-container" [formGroup]="geoRoleForm">
      <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-sm-12">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="Name">
      </mat-form-field>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-checkbox formControlName="IsActive">Activo</mat-checkbox>
      </div>
    </form>
  </main>
  <footer>
    <app-action-buttons [actionButtons]="actionButtons"
                        (onActionButtonClicked)="OnActionButtonClicked($event)"
                        [isIntoMatTab]="false"
                        [form]="geoRoleForm">
    </app-action-buttons>
  </footer>
</section>

