.modal-buttons-container{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}
.modal-content-form
{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
