<section class="section multi-bottoms">
  <app-action-buttons [form]="documentForm" [actionButtons]="actionButtons" [isIntoMatTab]="false"
                      (onActionButtonClicked)="OnActionButtonClicked($event)">
  </app-action-buttons>
</section>

<section class="section double-margin">
  <fieldset>
    <legend>Filtros</legend>
    <form [formGroup]="documentForm" class="grid-container">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="flex">
          <mat-form-field appearance="outline" class="input-group" (change)="ChangeBusinessPartner()" style="margin-bottom: -1em">
            <mat-label>Proveedor</mat-label>
            <input placeholder="Buscar proveedor" type="text"  formControlName="BusinessPartner" type="text" matInput>
          </mat-form-field>
          <button matTooltip="Buscar proveedor"
                  type="button"
                  mat-flat-button color="primary"
                  class="e-bill-search"
                  (click)="ShowModalSearchBusinnesPartner()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      <mat-form-field appearance="outline" class="col-lg-6 col-md-6 col-sm-12">
        <mat-label>Rango de fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Desde" formControlName="DateFrom">
          <input matEndDate placeholder="Hasta" formControlName="DateTo">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-6 col-md-6 col-sm-12">
        <mat-label>Moneda</mat-label>
        <mat-select formControlName="DocCurrency" (selectionChange)="SelectCurrency()">
          <mat-option *ngFor="let currency of currencies" [value]="currency.Id">
            {{currency.Name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="documentForm.controls['DocCurrency'].errors?.['required']">
          El campo es requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-6 col-md-6 col-sm-12">
        <mat-label>Comentario</mat-label>
        <input matInput type="text" formControlName="Comments"/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-3 col-md-6 col-sm-12">
        <mat-label>Monto</mat-label>
        <input matInput type="number" formControlName="Amount"  (change)="SetTotalPayAccount()"/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-2 col-md-6 col-sm-12">
        <mat-label>Referencia</mat-label>
        <input matInput type="number" formControlName="Reference"/>
      </mat-form-field>
      <div class="col-lg-1 col-md-6 col-sm-12">
        <mat-checkbox formControlName="IsPayAccount" (change)="SelectAccountPayment()">
          Pago cuenta
        </mat-checkbox>
      </div>
    </form>
  </fieldset>

</section>

<ng-container *ngIf="isVisible">
  <fieldset class="mt-1">
    <legend>
      {{Title}}
    </legend>

    <cl-dynamics-udfs-presentation
      [Id]="UdfsId"
      [ApiUrl]="ApiUrl"
      [UdfsCategory]="DBODataEndPoint">
    </cl-dynamics-udfs-presentation>
  </fieldset>
</ng-container>

<section class="section">
  <fieldset>
    <legend>Resultados</legend>
    <cl-table [Id]="docTableId"
              [ShouldPaginateRequest]="shouldPaginateRequest"
              [MappedColumns]="docTbMappedColumns"
              [CheckboxColumns]="checkboxColumns"
              [Records]="documents"
              [BackgroundTransparent] = "true"
              ScrollHeight="400px">
    </cl-table>
  </fieldset>
</section>

<section class="section">
  <div class="Totals">
    <div class="flex-row">
      <div class="divider">
          <div class="label-total ">
            <label>Colones</label>
          </div>
          <div class="div-total">
        <span class="hover-content">
          {{symbolLC}} {{total | number:TO_FIXED_TOTALDOCUMENT}}
        </span>
          </div>
      </div>
      <div class="column">
        <div class="label-total">
          <label>Dólares</label>
        </div>
        <div class="div-total">
        <span class="hover-content">
          {{symbolFC}} {{totalFC | number:TO_FIXED_TOTALDOCUMENT}}
        </span>
        </div>
      </div>
    </div>
  </div>
</section>
