.form
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.form-field
{
    width: 80%;
}

.animation {
    transition: transform 0.4s ease-in-out;
}

