<section class="content">
  <header>
    <h2>Administradores de ruta</h2>
  </header>
  <main>
    <div cdkDropListGroup>
      <div class="example-container">
        <h3>Disponibles</h3>

        <div
          cdkDropList
          [cdkDropListData]="availableAdmins"
          class="example-list"
          (cdkDropListDropped)="OnRouteAdminsChange($event, 'unassign')">
          <div class="example-box" *ngFor="let item of availableAdmins" cdkDrag matTooltip="{{item.Email}}"
               matTooltipPosition="right">
            {{item.Name}} {{item.LastName}}
          </div>
        </div>
      </div>

      <div class="example-container">
        <h3>Asignados</h3>

        <div
          cdkDropList
          [cdkDropListData]="assignedAdmins"
          class="example-list"
          (cdkDropListDropped)="OnRouteAdminsChange($event, 'assign')">
          <div class="example-box" *ngFor="let item of assignedAdmins" cdkDrag matTooltip="{{item.Email}}"
               matTooltipPosition="left">
            {{item.Name}} {{item.LastName}}
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <app-action-buttons [isIntoMatTab]="false"
                        [actionButtons]="actionButtons"
                        (onActionButtonClicked)="OnClickActionButton($event)">
    </app-action-buttons>
  </footer>
</section>

