.mat-form-field {
  width: 100%;
}

.button-form {
  margin-bottom: 5px;

}

.main-header {
  align-items: center;
  justify-content: space-between;
}

.search-field {
  width: 100%;
}

.add-button {
  display: flex;
  justify-content: flex-end
}

fieldset {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px 20px;
}

.mat-card {
  margin-bottom: 20px;

}

.first-content {
  margin-top: 20px;
}

legend {
  font-weight: bold;
}

.mt-1 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.check-height {
  margin-top: 10px;
}

.create-partner {
  margin-top: 20px;
  margin-left: 15px;
}

.btn-add {
  display: flex;
  justify-content: end;
}

.mt-20 {
  margin-top: 20px;
}

.row-group {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.search-field {
  width: 30%;
}

.column-3 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 50%;
}

.ctrl-button-direcciones {
  margin-bottom: 19px;
  border-radius: 0 5px 5px 0;
  height: 35px;
  background-color: #0082c0 !important;
  color: white !important;
}

.table-w {
  width: 100%;
}

.fieldset {
  margin: 1rem;
  padding: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.label-tap {
  cursor: pointer;
}

.tab-group-reduced {
  width: calc(100% - 109.5px);
  margin-top: -1px;
}
.tab-group-normal {
  width: 100%;
  margin-top: -1px;

}

.w-100{
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;

  .mat-form-field {
    flex-grow: 1;
  }
}

/*Boton a la par de un campo*/
.e-bill {
  margin-top: -19px !important;
  border-radius: 0 5px 5px 0;
  background-color: #0082c0 !important;
  color: white !important;
  cursor: pointer;
  height: 34px;
}
/* Estilos para resaltar el input activo */
mat-form-field[focused] {
  border-color: blue; /* Color de borde cuando está enfocado */
  box-shadow: 0 0 5px blue; /* Sombra cuando está enfocado */
}


:host ::ng-deep #tb-TABLE-ADDRESS.table-overflow {
  overflow-x: auto;

  .mat-table {
    min-width: auto;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;

    .th, td {
      white-space: nowrap;
      max-width: 200px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
