.main-section
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 80px);
}

.form-section
{
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(30% - 20px);
  height: calc(100% - 20px);
  border-right: 1px solid rgba(0,0,0,0.30);
  overflow-y: auto;
}

.form-section mat-form-field
{
  width: 100%;
}

.map-section
{
  padding: 5px;
  width: calc(70% - 10px);
  height: calc(100% - 10px);
}

agm-map {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.route-lines-container
{
  width: 100%;
}

.route-list {
  text-align: center;
}

.route-name {
  font-size: medium;
  font-weight: 600;
}

.route-details{
  font-size: medium;
}

.route-buttons {
  width: 48%;

}

.route-line-locations
{
  margin-bottom: 7px;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
  border-bottom: 1px solid rgba(0,0,0,.30);
}

.mat-divider {
  margin: 15px 0;
}

.details-time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:10px;
  /*align-items: center;*/
}

.w-1 {
  width: 100%;
}

.drag-drop-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
