.section{
  margin-bottom: 1rem;
}

.udf-fieldset {
  padding: 0 20px !important;
}


.overflow {
  max-height:50vh;
  overflow-y: auto;
}
@media screen and (max-width: 600px) {
  .multi-bottoms {
    flex-direction: column;
    padding-top: 10px;
    position: fixed;
    background-color: #fafafa !important;
    z-index: 9996;
    width: 100%;
  }
}

.w-100{
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;

  .mat-form-field {
    flex-grow: 1;
  }
}

/*Boton a la par de un campo*/
.e-bill {
  margin-top: -5px !important;
  border-radius: 0 5px 5px 0;
  background-color: #0082c0 !important;
  color: white !important;
  cursor: pointer;
  height: 34px;
}
