.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem 1.5rem;

}

.drop_box {
  padding: 5px;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
  position: relative;
}

#fileID {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
