#header {
  border-bottom: 1px solid #f4b93c;
}

#logout-item {
  --border-width: 1px !important;
  --border-color: var(--ion-color-danger) !important;
}

.dates-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.dates{
  font-size: .70rem;
  color: rgb(185, 185, 185);
}
