.totalposition {
  margin-left: auto !important;
  padding: 16px !important;
  width: 600px;
}

.udf-fieldset {
  padding: 0 20px !important;
}

.udf-fieldset {
  padding: 0 20px !important;
}

.mt-1 {
  margin-top: 10px;
}


/*Boton a la par de un campo*/
.e-bill {
  margin-top: -5px !important;
  border-radius: 0 5px 5px 0 !important;
  background-color: #0082c0 !important;
  color: white !important;
  cursor: pointer;
  height: 34px;
}

.flex {
  display: flex;
  align-items: center;

  .mat-form-field {
    flex-grow: 1;
  }
}

.top-margin {
  margin-top: 1em;
}
@media screen and (max-width: 600px) {
  .multi-bottoms {
    flex-direction: column;
    padding-top: 10px;
    position: fixed;
    background-color: #fafafa !important;
    z-index: 9996;
    width: 100%;
  }
}

.table-totales .total-retention-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-totales .btn-info-retention {
  min-width: 0;
  padding: 0;
  line-height: 0;
  border-radius: 20px;
}

.table-totales .icon-retention {
  color: #fff !important;
}
