.margin-btn{
  margin-left: 5px;
}
.justify-conten{
  justify-content: flex-end;
}
.margin-left{
  margin-left: 20px;
}
.mat-margin-left {
  margin-left: 5px;
}
.main-container{
  margin-top:10px
 }
.margin-top{
  margin-top: 5px;
}
