.about-header {
  background-color: rgb(255, 255, 255);
  padding: 16px;
  width: 100%;
  height: 30%;
  text-align: center;
}

.about-info {
  padding: 16px !important;
}
.about-header img {
  max-height: 100%;
}
.about-info p {
  color: var(--ion-color-dark);
  text-align: left;
}
