.allocation-grid {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 80% 20%;
}

.grid-container {
  height: auto; /* 60px; */
}

.text-red{
  color: #C0392B;
}

.allocation-data {
  margin-top: auto;margin-bottom: auto;
}

.allocation-quantity {
  display: flex;
}

