.img-height {
    height: 500px;
   
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spacer {
    margin: 20px 0;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

