.Applied{
    color: rgba(0, 0, 0, 0.50);
}
.Applied:active{
    color: rgba(47, 206, 47, 0.88);
}

.request-items {
    margin-top:8px !important; 
    margin-bottom: 8px !important; 
    font-weight: 500 !important;
}

.location-icon {
    font-size: 5vw !important;
}