#map_canvas {
  height: 100%;
  width: 100%;
}

#marker {
  width: 15%;
  height: 10%;
  display: block;
  position: absolute;
  left: 42.5%;
  top: 45%;
}

.default {
  color: #fbb700;
}

.option {
  color: grey;
}
